<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
   
    <%- include('./partials/nav.ejs') %>

    <div class="about-content">
        <h2>All Blogs</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur reprehenderit doloremque voluptatibus.</p>
        <p>Modi libero labore nobis, laborum facilis quae quibusdam accusamus harum, velit odio impedit ad totam ducimus laboriosam numquam.</p>
        <p>Modi libero labore nobis, laborum facilis quae quibusdam accusamus harum, velit odio impedit ad totam ducimus laboriosam numquam.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>