<nav>
    <div class="site-title">
        <a href="/">
            <h1>Blogg NodeJS</h1>
        </a>
        <p>A Node Blog site..</p>
    </div>

    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blogg</a></li>
    </ul>
</nav>